body{
    background-color: lightblue;
}
h1{
    color: black;
    text-align: center;
}
p{
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}
.minha-div{
    background-color: darkgreen;
    color: #000;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
#minha-div{
    background-color: rgb(247, 8, 255);
    color: #000;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}