h1{
    background-color: rgb(255, 89, 0);
    max-width: max-content;
}
h2{
    max-width: max-content;background-color: rgb(255, 89, 0);
    max-width: max-content;
}
h3{
    background-color: rgb(255, 89, 0);
    max-width: max-content;
}
h4{
    background-color: rgb(255, 89, 0);
    max-width: max-content;
    
}
h5{
    background-color: rgb(255, 89, 0);
    max-width: max-content;
}
body{
    background-color: rgb(64, 32, 221);
}
p{
   text-align: center; 
}